/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html body {
  font-family: Roboto, Arial, sans-serif;
}
html body p {
  font-size: 1.6rem;
}
html .container {
  max-width: 100%;
  width: 1028px;
  margin: 0 auto;
  background: #fff;
  color: #222;
}
.container .menuBar {
  display: flex;
  flex-direction: row;
  background: #99a4af;
  max-width: 100%;
  justify-content: space-between;
}
.container .menuBar .logo {
  font-size: 2.4rem;
  font-weight: bold;
  padding-left: 90px;
}
.container .menuBar .logo a {
  text-decoration: none;
  color: #fff;
}
.container .menuBar nav {
  display: flex;
}
.container .menuBar nav ul li {
  list-style: none;
}
.container .menuBar nav ul li a {
  text-decoration: none;
}
footer {
  display: flex;
  flex-flow: row wrap;
}
footer .footer1 {
  width: 31%;
  border: 1px red solid;
}
footer .footer2 {
  width: 23%;
  border: 1px red solid;
}
footer .footer3 {
  width: 23%;
  border: 1px red solid;
}
footer .footer4 {
  width: 23%;
  border: 1px red solid;
}
footer .copyright {
  border: 1px red solid;
}
footer .copyright h5 {
  text-align: center;
}
header {
  background-image: url("../img/home/home-jumbotron.png");
  width: 1028px;
  max-width: 100%;
  height: 550px;
}
header .headerTxt h2 {
  font-size: 6.4rem;
  color: #fff;
  line-height: 75px;
  font-weight: bold;
  padding-top: 25%;
  padding-left: 90px;
}
