footer {
  display: flex;
  flex-flow: row wrap;
  .footer1 {
    // padding-left: 90px; //reminder to make this a variable
    width: 31%;
    border: 1px red solid;
  }
  .footer2 {
    width: 23%;
    border: 1px red solid;

  }

  .footer3 {
    width: 23%;
    border: 1px red solid;

  }

  .footer4 {
    width: 23%;
    border: 1px red solid;

  }

  .copyright {
    border: 1px red solid;
    h5 {
      text-align: center;
    }
  }
}