header {
  background-image: url("../img/home/home-jumbotron.png");
  width: 1028px;
  max-width: 100%;
  height: 550px;
  .headerTxt{
    h2 {
      font-size: 6.4rem;
      color: #fff;
      line-height: 7.5rem;
      font-weight: bold;
      padding-top: 25%;
      padding-left: 50px; //reminder to make this a variable
    }
  }
}

.services {
  padding-bottom: 100px;
  .btn {
    // border: none; 
    padding: 10px 20px;
    background: #fff;
    border: 1px solid #222;
    margin-top: 20px;
    cursor: pointer;
  }

  .services1 {
    // border: @border;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
    // justify-content: center;
    justify-content: space-around;
    padding: 20px 0 20px 0; //make into a variable

    .services1Content {
      width: 40%;
      align-self: center;

      h3 {
        font-size: 2.8rem;
        font-weight: bold;
        color: #222;
      }
    }


    .services1Image {
      width: 40%;
      max-width: 100%;
      // border: @border;
    }

    .services1img {
      width: 100%;
    }
  }

  .services2 {
    // border: @border;
    // width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    padding: 20px 0 20px 0; //make into a variable

    .services2Image {
      max-width: 100%;
      width: 40%;

      .services2img {
        width: 100%;
        // border: @border;
      }
    }

    .services2Content {
      width: 40%;
      align-self: center;

      h3 {
        font-size: 2.8rem;
        font-weight: bold;
        color: #222;
      }  
    }
  }
}

.recentProjects {
  // border: @border;
  // position: relative;
  h3 {
    font-size: 2.8rem;
    font-weight: bold;
    color: #222;
    padding-left: 50px;
    padding-bottom: 50px;
  }

  .recentImages {
    z-index: -1;
    // border: @border;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .villasArea {
    position: relative;
    margin-bottom: 97px; //make into a variable

    .villas {
      background: #D8D8D8;
      padding: 24px 79px; //make into a variable
      z-index: 1;
      position: absolute;
      right: 50px;
      bottom: -30px;
      border: 1px solid #fff;
        
      h4 {
        font-size: 2.8rem;
        font-weight: bold;
        color: #222;
        }
    }

    .villasImage {
      max-width: 100%;
    }
  }

  .villasText {
    display: flex;
    flex-flow: column wrap;
    padding: 0 50px 0 50px;
    justify-content: center;
    align-items: center;
    width: 100%;

    p {
      // border: @border;
      width: 40%;
      margin: 15px;
    }
  }

  .outskirts {
    // border: @border;
    h4 {
      font-size: 2.8rem;
      font-weight: bold;
      color: #222;
    }

    .outskirtsArea {
      position: relative;
      margin-bottom: 97px; //make into a variable

      .outskirtsImage {
        max-width: 100%;
      }
      
      .outskirtsHeader {
        background: #D8D8D8;
        padding: 24px 79px;
        z-index: 1;
        position: absolute;
        left: 50px;
        bottom: -30px;
        border: 1px solid #fff;
      }
    }

    .outskirtsText {
      // border: @border;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    p {
      // border: @border;
      width: 40%;
      margin: 15px;
    }
  }
  
  .theBlocks {
    // border: @border;

    .theBlocksArea {
      position: relative;
      margin-bottom: 97px; //make into a variable

      .theBlocksImage {
        max-width: 100%;
      }

      .theBlocksHeader {
        background: #D8D8D8;
        padding: 24px 79px;
        z-index: 1;
        position: absolute;
        right: 50px;
        bottom: -30px;
        border: 1px solid #fff;

          h4 {
            font-size: 2.8rem;
            font-weight: bold;
            color: #222;
          }
      }
    }

    .theBlocksText {
      // border: @border;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-bottom: 100px;

      p {
        // border: @border;
        width: 40%;
        margin: 15px;
      }
    }
  }
}

