.container {
  .servicesHeader {
    padding-top: 60px;

    .pageTitle {
      font-size: 4.8rem;
      z-index: 1;
      top: -120px;
      left: 40px;
      position: relative;
      color: #fff;
    }
  }

 .servicesIntro {
   padding: 40px 50px 0 50px;
 }

  .tabs {
    overflow: hidden;
    padding: 20px 50px 30px 50px;
    display: flex;
    justify-content: space-between;

    @media @tablet {

    }

    @media @phone {
      flex-direction: column;
    }
  }
  
  /* Style the buttons that are used to open the tab content */
  .tabs button {
    background-color: inherit;
    float: left;
    border: 1px solid black;
    outline: none;
    cursor: pointer;
    padding: 20px 50px;
    // margin-right: 28px;
    transition: 0.3s;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 1.6rem;

    @media @tablet {
      padding: 20px 40px;
    }

    @media @phone {
      margin-bottom: 30px;
    }
  }
  
  /* Change background color of buttons on hover */
  .tabs button:hover {
    background-color: #222222;
    color: #fff;
  }
  
  /* Create an active/current tablink class */
  .tabs button.active {
    background-color: #5E9FB9;
    color: #fff;
  }

  .tabcontent {
    display: flex;
    flex-direction: row;
    padding: 6px 12px;
    animation: fadeEffect 1s;
    padding: 0 50px 0 50px;
    // border: 1px red solid;

    @keyframes fadeEffect {
      from {opacity: 0;}
      to {opacity: 1;}
    }

    @media @tablet {
      flex-direction: column;
    }

    @media @phone {
      flex-direction: column;
    }
    }

    h2 {
      font-size: 3.2rem;
      padding-bottom: 15px;
    }

    img {
      // width: 100%;
      // max-width: 100%;
      // margin-top: 40px;
    }

    p {
      padding-bottom: 25px;
    }
    
    #preConstruction {
      // border: @border;

      .preConstructionImage {
        padding-bottom: 50px;
        max-width: 100%;
        width: 100%
      }

      .preConstructionContent {
        display: flex;
        flex-direction: column;
        // width: 50%;
        padding-right: 50px;
        // border: @border;

        @media @tablet {
          padding-right: 0px;
        }

        @media @phone {
          padding-right: 0px;
        }
        
      } 
    }
      #construction {
        // display: flex;
        // flex-direction: row;
    
        .constructionImage {
          padding-bottom: 50px;
          max-width: 100%;
          width: 100%
        }

        .constructionContent {
          display: flex;
          flex-direction: column;
          padding-right: 50px;

          @media @tablet {
            padding-right: 0px;
          }

          @media @phone {
            padding-right: 0px;
          }
        }
      }
    
      #designBuild {
        // display: flex;
        // flex-direction: row;
    
        .designImage {
          padding-bottom: 50px;
          max-width: 100%;
          width: 100%
        }

        .designBuildContent {
          display: flex;
          flex-direction: column;
          padding-right: 50px;

          @media @tablet {
            padding-right: 0px;
          }

          @media @phone {
            padding-right: 0px;
          }
        }
      }
    
      #sustainability {
        // display: flex;
        // flex-direction: row;
    
        .sustainabilityImage {
          padding-bottom: 50px;
          max-width: 100%;
          width: 100%
        }

        .sustainabilityContent {
          display: flex;
          flex-direction: column;
          padding-right: 50px;

          @media @tablet {
            padding-right: 0px;
          }

          @media @phone {
            padding-right: 0px;
          }
        }
      } 
  }
